body{
    text-align: center;
}
#board{
    background-image: url("./media/immagini/sfondoV2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#levelUp{
    margin-left: 40%;
    margin-top: 200px;
    position: absolute;
    display: none;
    transition-duration: 0.5s;
    opacity: 0;
}