
.container {
  width: 40%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  top: 1cm;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  height: 40%;
  width: 100%;
  
}
.carousel-item {
  flex: 0 0 100%;
  height:auto;
  background-color:transparent;

  
}
#carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.nxtBtn button{  
    block-size: auto;
    width: 50px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0);
    background-image: url('./media/immagini/frecciaD.png') ;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.2s;
    background-size: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
    cursor: pointer;
}
.prvBtn button{  
  block-size: auto;
  width: 50px;
  height: 50px;
  background-color: rgba(240, 248, 255, 0);
  background-image: url('./media/immagini/frecciaS.png') ;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.2s;
  background-size: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 20%;
  cursor: pointer;
}
button:hover{
  width: 55px;
  height: 55px;
}
.title{
  color:white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 7pc;
  text-shadow: 3px 3px 100px rgb(255, 255, 255);
}
body{
  background-color: rgb(28, 81, 119);
}
.gameTitle{
  color: white;
  font-size: xx-large;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 3px 3px 5px rgb(255, 255, 255,0.7);
}