
.container {
  width: 40%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  top: 1cm;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  height: 40%;
  width: 100%;
  
}
.carousel-item {
  flex: 0 0 100%;
  height:auto;
  background-color:transparent;

  
}
.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.carousel-controls button {
  background: #333;
  color: #fff;
  border: none;
  
  cursor: pointer;
}